
body {
    padding-top: 0px;
}

.navbar a:link {
    color: white;
}

.navbar a:visited {
    color: silver;
}
h2{
    color:gray;
}
section a{
    text-decoration: none;
    color:gray;
    font-weight: bold;
}