@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Virtual Reality</h1>
    <p class="lead">Learn more about the top VR headsets on the market.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started with VR</h2>
        <p>
            Virtual reality provides a next level aspect to gaming that can be experienced nowhere outside of the current headsets on the market.
            To learn more about the top headsets out on the market right now, click Learn more below this.
        </p>
        <p><a class="btn btn-default" href="/VR/Index">Learn more &raquo;</a></p>
    </div>
</div>